@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app_width {
    @apply max-w-[1800px] mx-auto;
  }
  .hero_h1 {
    @apply text-[160px] lg:text-[420px] font-bold uppercase leading-[130px] lg:leading-[320px];
    font-family: var(--font-humane);
  }
  .text-heading {
    @apply text-[100px] lg:text-[200px] font-bold uppercase;
    font-family: var(--font-humane);
  }
}

.swiper {
  width: 100%; /* full viewport width */
  height: 60vh; /* full viewport height */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
